html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url("poster.jpg");
    background-size: cover;
  }
}

#videoBG {
  position: fixed;
  z-index: -1;
}

#sectionTitle {
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 15px;
}
h1 {
  color: rgb(201, 5, 5);
}

.card,
.table .form {
  background-color: rgba(255, 255, 255, 0.493);
  box-shadow: black;
  box-shadow: 0 0 6px 8px rgba(17, 17, 17, 0.664);
}

.card-header {
  color: rgb(51, 51, 51);
  background-image: linear-gradient(147deg, #06b8009a 0%, #004d06a4 50%);
}

h2 {
  font-size: 20px;
}

th {
  font-weight: 500;
  border-radius: 10px;
  background: none;
}
tr {
  background-image: linear, left top, right top, from(#11ac6b), to(#353535);
}
label {
  font-weight: 900px;
  font-size: 20px;
}

#train-table {
  background: none;
  border: none;
  width: 100%;
}

.rowDisplay {
  font-size: 20px;
  padding: 0;
}

.trainDetailDisplay {
  text-align: center;
  margin: 5px 0;
  text-transform: capitalize;
  background-image: linear, left top, right top, from(#1c9126), to(#353535);
}

.text-center {
  font-size: 25px;
  margin-bottom: 20px;
}

button.trainDetailDisplay {
  background: rgba(24, 163, 24, 0.774);
  color: white;
}

#changeFormSection {
  /* display: none;
  background-color: rgb(199, 196, 0);
  box-shadow: black; */
  /* box-shadow: 0 0 6px 8px rgba(17, 17, 17, 0.664); */
  color: red;
  font-weight: 900;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
}

.nameChange,
.destinationChange,
.startTimeChange,
.frequencyChange {
  margin: 0 100px 15px 10px;
  border-radius: 10px;
}
.bgForm {
  background-color: rgba(255, 255, 255, 0.692);
  padding: 0 15px;
  border-radius: 15px;
}

.submitChange {
  background-color: rgba(224, 0, 0, 0.87);
  margin: 0 20px;
  border: none;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 3px 3px rgba(17, 17, 17, 0.664);
}
.submitChange:hover {
  box-shadow: none;
  font-size: 17px;
}
