html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url("poster.jpg");
    background-size: cover;
  }
}

#videoBG {
  position: fixed;
  z-index: -1;
}

#sectionTitle {
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 15px;
}
h1 {
  color: rgb(201, 5, 5);
}

.card,
.table .form {
  background-color: rgba(255, 255, 255, 0.493);
  box-shadow: black;
  box-shadow: 0 0 6px 8px rgba(17, 17, 17, 0.664);
}

.card-header {
  color: rgb(51, 51, 51);
  background-image: linear-gradient(147deg, #9292929a 0%, #303030a4 50%);
}

h2 {
  font-size: 20px;
}

th {
  font-weight: 500;
  border-radius: 10px;
  background: none;
}

label {
  font-weight: 900px;
  font-size: 20px;
}

tr {
  background-image: linear-gradient(147deg, #24b400c0 0%, #046401cc 50%);
  font-size: 20px;
  padding: 0;
}

thead {
  background: none;
  border: none;
}

#train-table {
  background: none;
  border: none;
}
